







    <div id="slideshow">
   
   
    <div>
     <img src="/assets/teatro.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/alajuela.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/cartago.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/limon.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/guanacaste.JPG" width=100% height="500">
    </div>
    <div>
      <img src="/assets/sanjose.JPG" width=100% height="500">
    </div>
    <div>
      <img src="/assets/puntarenas.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/heredia.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/ucr.jpg" width=100% height="500">
    </div>
</div>

<div id = "search">

<input id="from" placeholder="desde" list="resultadosDelFrom"> </input>
		<datalist id="resultadosDelFrom">
			<% Parada.all.each do |parada| %>
				<option value= <%= parada.nombre %> >
			<% end %>
		</datalist>

<input name="to" placeholder="a" list="resultadosDelTo"> </input>
			<datalist id="resultadosDelTo">

				<% Parada.all.each do |otra| %>
						<option value= <%= otra.nombre %> >
				<% end %>
		</datalist>

</div>
<!-- from.value < Parada.attribute_names %>-->
<!--<div id="logo" style="width=0px; height=0px"> <img src= "/assets/logo.png" width="60" height="60"></div>-->

<script>

$("#slideshow > div:gt(0)").hide();

setInterval(function() {
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
}, 7000);

</script>
