    <div id="slideshow">
   
    <div>
     <img src="/assets/45898405.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/89381495.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/25674.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/25540.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/sanjose.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/25469.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/25541.jpg" width=100% height="500">
    </div>
</div>

<div> <p id="slogan" align="right"><font size="7">"Dejá de correr detras del bus"</font></p></div>

<div id = "search">
	<br>
	<br>
	<input id="bDesde" name="bDesde" placeholder="Desde" list="resultadosDelSearch" style="width:300px;heigth:60" > </input> 
		<datalist id="resultadosDelSearch">
			<% Ruta.all.each do |parada| %>
				<option value= <%= parada.nombre %> >
			<% end %>
		</datalist>
	<br>
	<input id="bA" name="bA" placeholder="A" list="resultadosDelSearch" style="width:300px;heigth:60" > </input> 
		<datalist id="resultadosDelSearch">
			<% Ruta.all.each do |parada| %>
				<option value= <%= parada.nombre %> >
			<% end %>
		</datalist>
	<br>
	<br>
	&nbsp;&nbsp;&nbsp;<%= link_to "Buscar", controller: "welcomes/mapa", action: "mapa" %>

	<script>
		function busca(){
			alert(bDesde.value);
		}
	</script>
	
</div>


<!-- from.value < Parada.attribute_names %> < form_for :from, builder: ComboboxFormBuilder do |f| %>
			< f.combobox_tag(:browser, options_from_collection_for_select(@paradas,"nombre","nombre"), :list_id => "list",:style=>"margin-left:20px")%>-->
<!--<div id="logo" style="width=0px; height=0px"> <img src= "/assets/logo.png" width="60" height="60"></div>-->

<script>

$("#slideshow > div:gt(0)").hide();

setInterval(function() {
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
}, 7000);

</script>
