    <div id="slideshow">
   
    <div>
     <img src="/assets/45898405.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/89381495.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/25674.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/25540.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/sanjose.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/25469.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/25541.jpg" width=100% height="500">
    </div>
</div>

<div id = "search">
				<br>
				<br>
				<br>
				<%= select_tag "from", options_for_select(@paradas, "desde"), {:style => "min-width: 350px;"} %>
				<br>
				<br>
				<br>
				<input name="to" placeholder="a" list="resultadosDelTo"> </input>
				<datalist id="resultadosDelTo">

				<% Parada.all.each do |otra| %>
						<option value= <%= otra.nombre %> >
				<% end %>
		</datalist>

</div>
<!-- from.value < Parada.attribute_names %>-->
<!--<div id="logo" style="width=0px; height=0px"> <img src= "/assets/logo.png" width="60" height="60"></div>-->

<script>

$("#slideshow > div:gt(0)").hide();

setInterval(function() {
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
}, 7000);

</script>
