    <div id="slideshow">
   
    <div>
     <img src="/assets/45898405.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/89381495.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/25674.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/25540.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/sanjose.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/25469.jpg" width=100% height="500">
    </div>
    <div>
      <img src="/assets/25541.jpg" width=100% height="500">
    </div>
</div>

<div id = "search">
	<br>
	<font color=#ffffff><p> Desde: </h></font>
	<%= form_for :from, builder: ComboboxFormBuilder do |f| %>
			<%= f.combobox_tag(:browser, options_from_collection_for_select(@paradas,"nombre","nombre"), :list_id => "list")%>
	<% end %>
	<br>
	<font color=#ffffff><p> A: </h></font>
	<%= form_for :to, builder: ComboboxFormBuilder do |f| %>
			<%= f.combobox_tag(:browser, options_from_collection_for_select(@paradas,"nombre","nombre"), :list_id => "list")%>
	<% end %>
	
</div>
<!-- from.value < Parada.attribute_names %>-->
<!--<div id="logo" style="width=0px; height=0px"> <img src= "/assets/logo.png" width="60" height="60"></div>-->

<script>

$("#slideshow > div:gt(0)").hide();

setInterval(function() {
  $('#slideshow > div:first')
    .fadeOut(1000)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('#slideshow');
}, 7000);

</script>
