<%= form_for(@mapa) do |f| %>
  <% if @mapa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mapa.errors.count, "error") %> prohibited this mapa from being saved:</h2>

      <ul>
      <% @mapa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
