<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<!-- <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script> -->

<script>
    var directionsDisplay;
    var directionsService;
    var map;
		var busGranadilla1;
		var busGranadilla2;
    var busPipiolo;
    var busExpreso;

		var places = {
		  "UCR-Cartago": {
		      location: "9.935521, -84.050252"
		  },
		  "UCR-Pavas": {
		     location: "9.934813,-84.051813"
		  },
		  
		  "UCR-Alajuela": {
		     location: "9.935518,-84.049777"
		  },
		  "Alajuela-Final": {
		     location: "10.014628,-84.217198"
		  }
		  }; 
		/*var places = [];
		  	< Parada.all.each do |parada| >
			var nom = "< parada.nombre >";
			        console.log(nom);
				var lat = < parada.latitud >;
				var lon = < parada.longitud ;
				var place = nom+'" : { location: "' + lat + ", " +lon+ '" }';
				places.push(place);
			< end >
		  console.log(places);*/
		

    // Initialize esta funcion coloca el mapa en la posicion de nuestra preferencia Latitud Longuitud y ademas podemos agregar el zoom incial
    function initialize() {
        directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        var san_jose = new google.maps.LatLng(9.9333333, -84.0833333);
        var mapOptions = {
            zoom: 10,
            center: san_jose
        }
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        directionsDisplay.setMap(map);

		 busGranadilla1 = new google.maps.Marker({
			position: new google.maps.LatLng(0, 0.1),
			map: map,
			title:"Granadilla - San José"
	      });
		  
		 busGranadilla2 = new google.maps.Marker({
			position: new google.maps.LatLng(0, 0.2),
			map: map,
			title:"Granadilla - San José"
	      });
		  
		  busPipiolo = new google.maps.Marker({
			  position: new google.maps.LatLng(0, 0.3),
			  map: map,
			  title:"UCR - Pipiolo"
	      });
		  
		  busExpreso = new google.maps.Marker({
			  position: new google.maps.LatLng(0, 0),
			  map: map,
			  title:"Expreso Periferica"
	      });
    }

    //aqui lo que se hace es montar las direcciones entre paradas ademas de dibujar las rutas
    function calcRoute() {
        var start = document.getElementById('start').value;
        var end = document.getElementById('end').value;
        var waypts = [];
        var checkboxArray = document.getElementById('waypoints');
//en este for se verifican las opciones marcadas de las paradas y se agreagan a la variable waypts
        for (var i = 0; i < checkboxArray.length; i++) {
            if (checkboxArray.options[i].selected == true) {
                waypts.push({
                    location:checkboxArray[i].value,
                    stopover:true});
            }
        }
//var request es la variable mas importante ya que en ella se colocan el principio y el final de las rutas ademas de que los waypts que en nuestro caso lo veria como paradas
        var request = {
            origin: start,
            destination: end,
            waypoints: waypts,
            optimizeWaypoints: false,
            travelMode: google.maps.TravelMode.DRIVING
        };
//aque se llama al metodo para dibujar el mapa
        directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
                var summaryPanel = document.getElementById('directions_panel');
                summaryPanel.innerHTML = '';
                // For each route, display summary information.
                for (var i = 0; i < route.legs.length; i++) {
                    var routeSegment = i + 1;
                    summaryPanel.innerHTML += '<b>Segmento de ruta: ' + routeSegment + '</b><br>';
                    summaryPanel.innerHTML += route.legs[i].start_address + ' hacia ';
                    summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
                    summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
                }
            }
        });
    }

	var firebaseRef = new Firebase('https://blazing-fire-9075.firebaseio.com');
	
	firebaseRef.on('child_changed', function(snapshot) {
		var message = snapshot.val();
		//console.log(message);
		var device = message.GpsID;
		//console.log(device);
		var location = message.Location;
		//console.log(location);
		
		var tokens = location.split(" ");
		var mylat = tokens[0];
		var mylong = tokens[1];
		var myLatlng = new google.maps.LatLng(mylat,mylong);
		
		if(device == '3a1bb1eb-be18-41db-9a2b-562506c86fef'){
			busGranadilla1.setPosition(myLatlng);
		}
		else if(device == 'a79db0be-5606-43a3-816b-d8c9144b1985'){
			busGranadilla2.setPosition(myLatlng);
		}
		
 		else if(device == 'cceed289-d438-41ed-a7e5-5e52c61ef1d0'){
			busPipiolo.setPosition(myLatlng);
		}
		
	});
	//Selecciona un punto inicial y un final, y dibuja la ruta de éste, de momento lo que tiene arriba es la definición de dos paradas
	//UCR y San José, y elige la mejor ruta sin seguir ninguna condición. En vez de hacerlo así, después va a obtener las coordenadas
//desde la BD y puede ser que al sacar la ruta de la base de datos, pueda sacar también las paradas para definir siempre la ruta establecida.
	function searchToFrom(){
      var to = $('#to').val();
      var from = $('#from').val();
      
			var waypts = [];
      var checkboxArray = [start, end];
			var start;
			var end;
			console.log(places[from].location);
// 			//en vez del from in places debe hacer consulta a la bd < Parada.where(nombre: from ).take %> = from
< Parada.all.each do |parada| >
			var nom = "< parada.nombre >";
			if (from in places) {
				start = places[from].location;
				
    	} else {
        alert(from +': ubicación desconocida');
    	}
			if (to in places) {
				end = places[to].location;
    	} else {
        alert(to + ': ubicación desconocida');
    	}
			waypts.push({
                    location:start,
                    stopover:true});
			waypts.push({
                    location:end,
                    stopover:true});
      var request = {
          origin: start,
          destination: end,
          waypoints: waypts,
          optimizeWaypoints: false,
          travelMode: google.maps.TravelMode.DRIVING
      };

      directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(response);
              var route = response.routes[0];
          }
      });
    }
    function loadScript() {
       var script = document.createElement('script');
       script.type = 'text/javascript';
       script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
       'callback=initialize';
       document.body.appendChild(script);
    }
    $(document).ready(function () { loadScript() });
    //google.maps.event.addDomListener(window, 'load', initialize);
    //En este script se le colocan las variables start waypoint y end con estas se llenara request en el funcion calcroute que es llamada cuando le hacemo submit
    // Para HTML5 Encontre esta pagina que funciona bastante bien


</script>
<div  id="menu">
  <ul>
    <li><a href='#'><span>Home</span></a></li>
    <li><a href='#'><span>Products</span></a>
      <ul>
        <li><a href='#'><span>Product 1</span></a>
          <ul>
            <li><a href='#'><span>Sub Item</span></a></li>
            <li class='last'><a href='#'><span>Sub Item</span></a></li>
          </ul>
        </li>
        <li><a href='#'><span>Product 2</span></a>
          <ul>
            <li><a href='#'><span>Sub Item</span></a></li>
            <li><a href='#'><span>Vea</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href='#'><span>About</span></a></li>
    <li class='last'><a href='#'><span>Contact</span></a></li>
  </ul>
  <br>

  <p id="searchTo"> To: </a>
  <input id="to" type="search" list="resultadosDelTo" size=10 />
  
    <datalist id="resultadosDelTo">
			<% Parada.all.each do |parada| %>
				<option value= <%= parada.nombre %> >
			<% end %>
		</datalist>

  <p id="searchFrom"> From: </a>
  <input id="from" type="search" list="resultadosDelFrom" size=10 /> 
  <datalist id="resultadosDelFrom">
			<% Parada.all.each do |otra| %>
				<option value= <%= otra.nombre %> >
			<% end %>
		</datalist>
	<br>
	<br>
	<input type="submit" onclick="searchToFrom()" value="Buscar">

</div>
<div id="map-canvas" style="float:left;width:70%;height:100%;"></div>
<div id="control_panel" style="float:right;width:20%;text-align:left;padding-top:20px">
  <div style="margin:20px;border-width:2px;">
    <b>Start:</b>
    <select id="start">
      <option value="9.920974, -84.103341">Hatillo</option>
    </select>
    <br>
    <b>Waypoints:</b> <br>
    <i>(Ctrl-Click for multiple selection)</i> <br>
    <select multiple id="waypoints">
      <option value="9.918549,-84.104548">Parada0</option>
      <option value="9.913507,-84.103476">Parada1</option>
      <option value="9.915801,-84.102586">Parada2</option>
      <option value="9.939051,-84.051768">Parada3</option>
    </select>
    <br>
    <b>End:</b>
    <select id="end">
      <option value="9.935149,-84.051142">UCR</option>
    </select>
    <br>
    <input type="submit" onclick="calcRoute();">
  </div>
  <div id="directions_panel" style="margin:20px;background-color:#FFEE77;"></div>
</div>
<div id="footer">
  Copyright © Bus Track
</div>
