<h1>Listing rutas_usuarios</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rutas_usuarios.each do |rutas_usuario| %>
      <tr>
        <td><%= link_to 'Show', rutas_usuario %></td>
        <td><%= link_to 'Edit', edit_rutas_usuario_path(rutas_usuario) %></td>
        <td><%= link_to 'Destroy', rutas_usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rutas usuario', new_rutas_usuario_path %>
