<h1>Editing parada</h1>

<div id="control_panel" style="float:left;width:20%;text-align:left;padding-top:20px">

<%= render 'form' %>
<%= link_to 'Show', @parada %> |
<%= link_to 'Back', paradas_path %>
</div>
<div id="map-canvas" style="float:left;width:70%;height:77%;"></div>
<div id="left_panel" style="float:left;width:10%;text-align:left;padding-top:20px"></div>
