<!DOCTYPE html>
<html>
<head>
  <title>Bustrack</title>
  <%= stylesheet_link_tag    'application','token-input', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'jquery.tokeninput', data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
