<div>
  <div>
    <form target="_blank" onsubmit="return window.confirm('&quot;You are submitting information to an external page.\nAre you sure?&quot;');">
      <h5>Nombre: <input type="text" name="f_nombre"></h5>
      <h5>Apellido: <input type="text" name="f_apellido"></h5>
      <h5>Correo Electronico: <input type="text" name="f_correo"></h5>
      <h5>Contrase単a: <input type="password" name="f_contrase単a"></h5>
      <h5>Verificar Contrase単a: <input type="password" name="f_vcontrase単a"></h5>
      <h6>
        <input type="submit" value="Enviar" name="f_Crear">
        <input type="submit" value="Cancelar" name="f_Cancelar">
      </h6>
    </form>
  </div>
</div>
